* {box-sizing: border-box}
input[type=text],[type=password],[type=email],[type=number],[type=date]{
    width: 40%;
    display: inline-block;
    padding: 15px;
    font-family: sans-serif;
    border: none;
    border-radius: 20px;
    background: #f1f1f1;
    }
input[type=text],[type=password],[type=email],[type=number],[type=date]{
    background-color: aqua;
    outline: inherit;
}
input:hover{
    opacity: 2;
}
hr{
    border: 1px solid #f1f1f1;
        margin-bottom: 25px;
}
input[type=submit]{
    background-color: green;
    border-radius: 25px;
    padding: 14px 12px;
    margin: 8px 0;
    color: white;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
}
.container{
    padding: 16px;
}